!!! 5
html
  head
    title Q CSS Framework
    meta(charset='utf8')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='viewport', content='minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='web/css/ui-common.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js')
    script(src='web/js/iscroll.js')
    script(src='web/js/Q.js')
    script(src='web/js/ui.js')
    //[if !IE]
    // CSS media queries go here
    //[endif]
  body
    script
      if ($(window).width() < $(window).height())
        document.body.className += ' Q_portrait';
      if (window.localStorage && window.localStorage.Q_listing_collapsed === 'true')
        document.body.className += ' Q_listing_collapsed';
      if (window.localStorage && window.localStorage.Q_chat_visible === 'true')
        document.body.className += ' Q_chat_visible';
      if (window.localStorage && window.localStorage.Q_upstream_visible === 'true')
        document.body.className += ' Q_upstream_visible';
    #Q_dashboard_slot
      .Q_dashboard_item
        .Q_title People
      .Q_dashboard_item
        .Q_title Chat
      .Q_dashboard_item
        .Q_title Events
      .Q_dashboard_item
        .Q_title More
      #Q_status_slot
        .Q_userpic
        .Q_firstName Andrey
        .Q_lastName  Tarantsov
    
    #Q_main_area
      #Q_listing_slot
        .Q_expand_collapse
        #Q_expanded_listing
          .Q_controls
            button.Q_toggle_listing_button.Q_only_phone_inline Player &raquo;
            button Some Button
          #Q_listing_content.Q_scrollable
            .Q_scroller
              - for (var i = 1; i <= 20; i++)
                .Q_row.Groups_row Group #{i}
      #Q_player_slot
        .Q_expand_collapse
        #Q_expanded_player
          .Q_controls
            button.Q_toggle_listing_button.Q_only_phone_inline &laquo; Listing
            button.Q_toggle_chat_button Toggle Chat
            button.Q_toggle_upstream_button Toggle Upstream
          #Q_upsteam_content.Q_scrollable
            .Q_scroller
              - for (var i = 1; i <= 20; i++)
                .Q_row Parent Stream #{i}
          #Q_player_and_chat_content
            #Q_player_content.Q_scrollable
              .Q_scroller
                - for (var i = 1; i <= 200; i++)
                  .Q_row Contact #{i}
            #Q_chat_content
              #Q_chat_messages.Q_scrollable
                .Q_scroller
                  - for (var i = 1; i <= 20; i++)
                    .Q_row Message #{i}
              #Q_chat_publisher
                input(placeholder='Your message…')

    script document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js"></' + 'script>')
