<div class='Q_inplace_tool_container {{classes}}' style="position: relative;">
    <div class='Q_inplace_tool_editbuttons'>
    	<button class='Q_inplace_tool_edit basic16 basic16_edit'>Edit</button>
    </div>
	<form class="Q_inplace_tool_form" method="{{method}}" action="{{action}}">
        {{#textarea}}
            <textarea name="{{field}}" placeholder="{{placeholder}}" rows="5" cols="80">{{text}}</textarea>
        {{/textarea}}
        {{^textarea}}
    	    <input name="{{field}}" placeholder="{{placeholder}}" value="{{text}}" type="{{type}}" >
        {{/textarea}}
		<div class='Q_inplace_tool_buttons'>
			<button class='Q_inplace_tool_cancel basic16 basic16_cancel'>Cancel</button>
			<button class='Q_inplace_tool_save basic16 basic16_save'>Save</button>
		</div>
	</form>
	<div class="Q_inplace_tool_static_container {{staticClass}}">{{& staticHtml}}</div>
</div>